@tailwind base;
@tailwind components;
@tailwind utilities;

@media print{
	.not-for-print{
		display: none;
	}
	.paper-section{
		margin: 0px;
		padding: 0px;
		color: black;
	}
	.paper-wrapper{
		border: none;
		width: 100% !important;
		margin-top: 0px !important;
	}
	.paper-wrapper > div {
		margin: 0px;
		padding: 0px;
	}
	table {
		border: 1px solid black;
	}
	table tr {
		height: 0.8cm !important;
		grid-template-columns: repeat(12, minmax(0, 1fr)) !important ;
	}
	tr td:nth-child(3){
		grid-column: span 10 / span 10 !important;
	}
	table td{
		border: 1px solid black;
	}
}
